.MoreInfo .InfoBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .MoreInfo .InfoBody .power {
    margin-bottom: 10px; }
  .MoreInfo .InfoBody .Meta, .MoreInfo .InfoBody .Applications, .MoreInfo .InfoBody .Services {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .MoreInfo .InfoBody .Meta .row, .MoreInfo .InfoBody .Applications .row, .MoreInfo .InfoBody .Services .row {
      width: 60%;
      height: 35px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .MoreInfo .InfoBody .Meta .row .name, .MoreInfo .InfoBody .Applications .row .name, .MoreInfo .InfoBody .Services .row .name {
        font-weight: bolder; }
