/*
 * Copyright 2017 Palantir Technologies, Inc. All rights reserved.
 */
.login__Page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #394b59 !important;
  height: 100vh; }
  .login__Page form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
    height: 200px; }
